In [ ]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import json
from pandas import json_normalize

In [ ]:
api_1 = 'https://randomuser.me/api'
res_1 = requests.get(api_1)
data_1 = res_1.json()
data_1

{'results': [{'gender': 'male',
   'name': {'title': 'Mr', 'first': 'Oscar', 'last': 'Nieto'},
   'location': {'street': {'number': 677, 'name': 'Calle de Bravo Murillo'},
    'city': 'Logroño',
    'state': 'Cantabria',
    'country': 'Spain',
    'postcode': 64253,
    'coordinates': {'latitude': '-32.0704', 'longitude': '-114.9634'},
    'timezone': {'offset': '+1:00',
     'description': 'Brussels, Copenhagen, Madrid, Paris'}},
   'email': 'oscar.nieto@example.com',
   'login': {'uuid': 'ca716739-134b-453b-b036-840ee441f633',
    'username': 'browngorilla579',
    'password': '6666666',
    'salt': 'fnqQulR8',
    'md5': '56f22d2409d03af833fc33fefa28fd2f',
    'sha1': 'd1d87ba449f71e26d293d3a7df2e2355fd2a6e4e',
    'sha256': '94fcb9c5ef2a5e949f7dd3b619a93c67ddecad9e03a53310c3bbfc17d0c32d3c'},
   'dob': {'date': '1960-01-19T20:49:27.409Z', 'age': 62},
   'registered': {'date': '2002-12-19T18:04:43.671Z', 'age': 20},
   'phone': '992-319-422',
   'cell': '668-157-936',
   'id': {'name': 'DNI', 'value': '69050596-W'},
   'picture': {'large': 'https://randomuser.me/api/portraits/men/89.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/men/89.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/89.jpg'},
   'nat': 'ES'}],
 'info': {'seed': '8d294dc9cda7c264',
  'results': 1,
  'page': 1,
  'version': '1.4'}}

In [ ]:
list_1 = []
api_1 = 'https://randomuser.me/api'
for i in range(20):
  res_1 = requests.get(api_1)
  data_1 = res_1.json()
  json_norm_1 = json_normalize(data_1['results'])
  list_1 += [data_1]
print(list_1)

[{'results': [{'gender': 'female', 'name': {'title': 'Miss', 'first': 'Aada', 'last': 'Linna'}, 'location': {'street': {'number': 1607, 'name': 'Bulevardi'}, 'city': 'Sodankylä', 'state': 'Central Ostrobothnia', 'country': 'Finland', 'postcode': 94488, 'coordinates': {'latitude': '-28.6035', 'longitude': '17.1158'}, 'timezone': {'offset': '+3:00', 'description': 'Baghdad, Riyadh, Moscow, St. Petersburg'}}, 'email': 'aada.linna@example.com', 'login': {'uuid': '083820c1-f0b0-48a7-b120-f58d3e876ebe', 'username': 'angrywolf428', 'password': 'bowser', 'salt': 'dRaHOEog', 'md5': 'ac884f613e92c98d33115d0dff845383', 'sha1': '016d755d97b9a83489a44851b10cdb2e7807abb3', 'sha256': '37bc79431637366655b3714f8ceacec3d583e37bff1e613cbb233827a58a41b2'}, 'dob': {'date': '1975-09-06T07:47:44.573Z', 'age': 47}, 'registered': {'date': '2019-02-16T14:31:26.294Z', 'age': 3}, 'phone': '09-544-979', 'cell': '043-799-59-38', 'id': {'name': 'HETU', 'value': 'NaNNA298undefined'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/24.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/24.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/24.jpg'}, 'nat': 'FI'}], 'info': {'seed': 'b88824d3cdbf1376', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Miss', 'first': 'Molly', 'last': 'Otoole'}, 'location': {'street': {'number': 5967, 'name': "O'Connell Avenue"}, 'city': 'Cobh', 'state': 'Cork City', 'country': 'Ireland', 'postcode': 51794, 'coordinates': {'latitude': '-4.1019', 'longitude': '175.3623'}, 'timezone': {'offset': '+3:00', 'description': 'Baghdad, Riyadh, Moscow, St. Petersburg'}}, 'email': 'molly.otoole@example.com', 'login': {'uuid': 'bb089842-7f07-42b7-9ffb-d52d12b3bf47', 'username': 'sadswan429', 'password': 'vortex', 'salt': '9dBkSDw8', 'md5': '7af00cbfa4fdfea8e41dd94c5c0bf538', 'sha1': '7075ab3246321f0deb8daf892cd4278c1fd5324a', 'sha256': 'bc2dc376de87cc77871135448b2793a9e1a9dc97fe6db4e1c9e9b2f7fb7d6d7f'}, 'dob': {'date': '1954-09-15T02:40:44.644Z', 'age': 68}, 'registered': {'date': '2019-11-14T13:52:42.034Z', 'age': 3}, 'phone': '021-627-9248', 'cell': '081-352-8574', 'id': {'name': 'PPS', 'value': '5471899T'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/10.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/10.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/10.jpg'}, 'nat': 'IE'}], 'info': {'seed': 'b91d773bc9169f4c', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'Levko', 'last': 'Kibkalo'}, 'location': {'street': {'number': 9016, 'name': 'Yablochkova'}, 'city': 'Alchevsk', 'state': 'Rivnenska', 'country': 'Ukraine', 'postcode': 35519, 'coordinates': {'latitude': '76.3929', 'longitude': '-123.6332'}, 'timezone': {'offset': '+9:00', 'description': 'Tokyo, Seoul, Osaka, Sapporo, Yakutsk'}}, 'email': 'levko.kibkalo@example.com', 'login': {'uuid': '76eef0b4-25da-4ecc-9f16-b6c497fdf295', 'username': 'biggoose723', 'password': 'viper', 'salt': 'juZO5XYK', 'md5': '3597fab237ab1602c806e35b6af52e3b', 'sha1': 'ff53eeec23dc9a2e3a1802db1917dbf26b9cfe6f', 'sha256': 'e5774a9a24c359732a0f31c52715ff7525c0b71a380557c2fab43da597666f92'}, 'dob': {'date': '1967-10-18T07:40:28.077Z', 'age': 55}, 'registered': {'date': '2018-03-28T20:34:19.118Z', 'age': 4}, 'phone': '(097) L98-9163', 'cell': '(097) D15-0319', 'id': {'name': '', 'value': None}, 'picture': {'large': 'https://randomuser.me/api/portraits/men/25.jpg', 'medium': 'https://randomuser.me/api/portraits/med/men/25.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/25.jpg'}, 'nat': 'UA'}], 'info': {'seed': 'f8a6ba4bc939e092', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Miss', 'first': 'Maria', 'last': 'Fleming'}, 'location': {'street': {'number': 8055, 'name': 'Cork Street'}, 'city': 'Celbridge', 'state': 'Westmeath', 'country': 'Ireland', 'postcode': 27768, 'coordinates': {'latitude': '-0.0426', 'longitude': '160.4125'}, 'timezone': {'offset': '+2:00', 'description': 'Kaliningrad, South Africa'}}, 'email': 'maria.fleming@example.com', 'login': {'uuid': 'b448c13e-3358-4524-9525-ac80fdc9ea4a', 'username': 'greenostrich823', 'password': 'boxcar', 'salt': 'nvHvlr1u', 'md5': '5483aceec9a19a051c015e410d2ff087', 'sha1': 'd4cf1721b8ac763c3d491505c3e58cc1c3eff751', 'sha256': '3704b70817c94c7c24de4000882c3673b5578dbd953f30b284003507e85cd168'}, 'dob': {'date': '1975-04-09T03:19:25.119Z', 'age': 47}, 'registered': {'date': '2002-07-05T10:42:34.955Z', 'age': 20}, 'phone': '071-859-6363', 'cell': '081-139-3102', 'id': {'name': 'PPS', 'value': '4305716T'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/96.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/96.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/96.jpg'}, 'nat': 'IE'}], 'info': {'seed': '6b5a621500687f84', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'Lubomir', 'last': 'Tomović'}, 'location': {'street': {'number': 7917, 'name': 'Žel Stanica Makiš Ranžirna'}, 'city': 'Merošina', 'state': 'Rasina', 'country': 'Serbia', 'postcode': 20323, 'coordinates': {'latitude': '59.1085', 'longitude': '-90.0827'}, 'timezone': {'offset': '+2:00', 'description': 'Kaliningrad, South Africa'}}, 'email': 'lubomir.tomovic@example.com', 'login': {'uuid': '6d8cf7b1-db40-4fdc-8721-7bf050df4ac3', 'username': 'blackbutterfly527', 'password': 'jamesbond', 'salt': 'ZUqb0YWs', 'md5': 'd8f637ac6167a12e56fe16fb61ff99cd', 'sha1': '810d1c591e2b3803a833907c011b859c0ffbeb11', 'sha256': 'b3e1b95d51f699abd008293cb69312100d364ac90d70e161662866cc5c4141d2'}, 'dob': {'date': '1986-09-12T03:10:05.611Z', 'age': 36}, 'registered': {'date': '2021-08-20T13:06:53.440Z', 'age': 1}, 'phone': '010-8926-722', 'cell': '064-2349-007', 'id': {'name': 'SID', 'value': '939663915'}, 'picture': {'large': 'https://randomuser.me/api/portraits/men/5.jpg', 'medium': 'https://randomuser.me/api/portraits/med/men/5.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/5.jpg'}, 'nat': 'RS'}], 'info': {'seed': '50df7cdcb2ddad87', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'male', 'name': {'title': 'Monsieur', 'first': 'Fritz', 'last': 'Giraud'}, 'location': {'street': {'number': 499, 'name': "Rue de L'Abbaye"}, 'city': 'Orny', 'state': 'Ticino', 'country': 'Switzerland', 'postcode': 5727, 'coordinates': {'latitude': '-56.3382', 'longitude': '-162.7104'}, 'timezone': {'offset': '+4:00', 'description': 'Abu Dhabi, Muscat, Baku, Tbilisi'}}, 'email': 'fritz.giraud@example.com', 'login': {'uuid': '56908acc-884b-44aa-bc2c-3cd1881a70ea', 'username': 'blackpeacock303', 'password': 'rivers', 'salt': 'IFrSqOOm', 'md5': 'd66b1766fb9e9007246e19c8f082528f', 'sha1': '677f481f0091343df2f3208f5ae4489f26578591', 'sha256': 'cf1f4ca861baf2257ebeb04dc6f21c062a1657467eb7368fe84d4d996980b32e'}, 'dob': {'date': '1988-10-30T05:49:05.302Z', 'age': 34}, 'registered': {'date': '2019-11-08T03:16:18.684Z', 'age': 3}, 'phone': '077 164 09 64', 'cell': '078 056 57 51', 'id': {'name': 'AVS', 'value': '756.5733.4795.62'}, 'picture': {'large': 'https://randomuser.me/api/portraits/men/7.jpg', 'medium': 'https://randomuser.me/api/portraits/med/men/7.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/7.jpg'}, 'nat': 'CH'}], 'info': {'seed': '4db04ca6037cc70c', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Mrs', 'first': 'Josefina', 'last': 'Lopes'}, 'location': {'street': {'number': 9274, 'name': 'Avenida Brasil '}, 'city': 'Bento Gonçalves', 'state': 'Roraima', 'country': 'Brazil', 'postcode': 38454, 'coordinates': {'latitude': '-73.4628', 'longitude': '163.7281'}, 'timezone': {'offset': '+4:00', 'description': 'Abu Dhabi, Muscat, Baku, Tbilisi'}}, 'email': 'josefina.lopes@example.com', 'login': {'uuid': '787ae01d-5e58-4f1a-8ca9-8a1ecb542935', 'username': 'purpleleopard712', 'password': 'paris', 'salt': '6tG0fOsY', 'md5': 'c99ee4ca4e5686a9bcbcede18ba504ad', 'sha1': '7e544aa056bcbdf40d1e0667d193c3be6d4cf3a8', 'sha256': 'ae433dbec06cdb29701c4d3c5745567e42c6f3a8d414aea40bf36148217185ca'}, 'dob': {'date': '1950-06-12T08:07:45.404Z', 'age': 72}, 'registered': {'date': '2020-05-09T08:10:39.964Z', 'age': 2}, 'phone': '(63) 3152-3770', 'cell': '(08) 7038-2026', 'id': {'name': 'CPF', 'value': '828.900.858-38'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/77.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/77.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/77.jpg'}, 'nat': 'BR'}], 'info': {'seed': 'c5a1aea34131d650', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Mrs', 'first': 'Carla', 'last': 'Fleischhauer'}, 'location': {'street': {'number': 3817, 'name': 'Drosselweg'}, 'city': 'Marktbreit', 'state': 'Hamburg', 'country': 'Germany', 'postcode': 24281, 'coordinates': {'latitude': '-52.0269', 'longitude': '114.1255'}, 'timezone': {'offset': '-4:00', 'description': 'Atlantic Time (Canada), Caracas, La Paz'}}, 'email': 'carla.fleischhauer@example.com', 'login': {'uuid': '23946385-25d3-4b00-9a9a-b6ba7c0bb9f3', 'username': 'redpanda447', 'password': 'mnbv', 'salt': 'u1mScdeN', 'md5': 'd015aa93770639fff73ca38dac20304b', 'sha1': 'd52e3c4e65f06e7b8ca4f73eedeb3662a285a994', 'sha256': '327b9fba340da1b934263bb60982d1423876019499e3934d4f1e442f214a4125'}, 'dob': {'date': '1985-11-10T09:01:35.298Z', 'age': 37}, 'registered': {'date': '2014-11-01T03:55:58.365Z', 'age': 8}, 'phone': '0707-7592722', 'cell': '0172-6868236', 'id': {'name': 'SVNR', 'value': '66 101185 F 538'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/45.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/45.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/45.jpg'}, 'nat': 'DE'}], 'info': {'seed': '0ba9c3c27353a31b', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'Abrão', 'last': 'Mendes'}, 'location': {'street': {'number': 2060, 'name': 'Rua Vinte E Um'}, 'city': 'São Vicente', 'state': 'São Paulo', 'country': 'Brazil', 'postcode': 63464, 'coordinates': {'latitude': '-78.2443', 'longitude': '-151.9609'}, 'timezone': {'offset': '-1:00', 'description': 'Azores, Cape Verde Islands'}}, 'email': 'abrao.mendes@example.com', 'login': {'uuid': '0963fee9-543b-4338-8dd0-ca8bcadba486', 'username': 'ticklishbear814', 'password': 'snoopy1', 'salt': 'vsoQlpHY', 'md5': '2b6cce1269c85707191a0169c1fff860', 'sha1': 'aebb54ca66bfdc639e3456757ff571529bb263c9', 'sha256': '87d2e65e19ee1f0dfef056e5bb3a18593f7462f5e68b0424921d0ef8a4f8e515'}, 'dob': {'date': '1980-06-02T21:15:05.233Z', 'age': 42}, 'registered': {'date': '2012-12-24T13:18:54.919Z', 'age': 10}, 'phone': '(76) 8763-5342', 'cell': '(23) 6915-5285', 'id': {'name': 'CPF', 'value': '137.916.216-41'}, 'picture': {'large': 'https://randomuser.me/api/portraits/men/68.jpg', 'medium': 'https://randomuser.me/api/portraits/med/men/68.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/68.jpg'}, 'nat': 'BR'}], 'info': {'seed': '68422e7f59eaf108', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Mrs', 'first': 'Svetlana', 'last': 'Srejović'}, 'location': {'street': {'number': 6362, 'name': 'Nikolićev Prilaz'}, 'city': 'Žabalj', 'state': 'Moravica', 'country': 'Serbia', 'postcode': 78126, 'coordinates': {'latitude': '63.7399', 'longitude': '148.5547'}, 'timezone': {'offset': '-2:00', 'description': 'Mid-Atlantic'}}, 'email': 'svetlana.srejovic@example.com', 'login': {'uuid': 'dba6a9f5-c31b-4cdb-996b-606b3d905d55', 'username': 'silvergorilla155', 'password': 'history', 'salt': 'neSU2RhK', 'md5': '3ef3c57e9cbb95ab4f5946fdee46d7b9', 'sha1': '1dc5c179b61d04ac14b8ca7b82a40b86c0a19f3f', 'sha256': '2414fb6cf4fb46f69ed840ec927113066d42495f65f5f3712e091b40aa711437'}, 'dob': {'date': '1966-06-06T06:01:31.387Z', 'age': 56}, 'registered': {'date': '2016-11-22T18:40:58.603Z', 'age': 6}, 'phone': '035-0383-394', 'cell': '066-6820-659', 'id': {'name': 'SID', 'value': '894571835'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/22.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/22.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/22.jpg'}, 'nat': 'RS'}], 'info': {'seed': 'f0f6a6f0b6b57552', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'Okan', 'last': 'Kaplangı'}, 'location': {'street': {'number': 4249, 'name': 'Atatürk Sk'}, 'city': 'Yozgat', 'state': 'Kastamonu', 'country': 'Turkey', 'postcode': 27430, 'coordinates': {'latitude': '70.5965', 'longitude': '-45.1429'}, 'timezone': {'offset': '+11:00', 'description': 'Magadan, Solomon Islands, New Caledonia'}}, 'email': 'okan.kaplangi@example.com', 'login': {'uuid': 'c7f60d73-2807-44bd-80e6-02fe39d8c974', 'username': 'tinykoala132', 'password': '123456789', 'salt': 'jFaCpR2U', 'md5': '65e451cbe2ca5352912b81e23a57628a', 'sha1': 'f96de11919d74a70d548941305ad2e7fb0f63cf6', 'sha256': '5b08520acc7dc6488ede06a33292d00afd0b7483dede70406d05895c19381ed0'}, 'dob': {'date': '1952-11-20T03:33:27.784Z', 'age': 70}, 'registered': {'date': '2021-07-03T12:22:19.145Z', 'age': 1}, 'phone': '(258)-575-4310', 'cell': '(699)-133-0707', 'id': {'name': '', 'value': None}, 'picture': {'large': 'https://randomuser.me/api/portraits/men/88.jpg', 'medium': 'https://randomuser.me/api/portraits/med/men/88.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/88.jpg'}, 'nat': 'TR'}], 'info': {'seed': 'ab4ab6cf0427bba4', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Mrs', 'first': 'Carol', 'last': 'Cooper'}, 'location': {'street': {'number': 6836, 'name': 'Albert Road'}, 'city': 'Cambridge', 'state': 'Cleveland', 'country': 'United Kingdom', 'postcode': 'GN8P 6JZ', 'coordinates': {'latitude': '-9.7858', 'longitude': '27.3241'}, 'timezone': {'offset': '+5:30', 'description': 'Bombay, Calcutta, Madras, New Delhi'}}, 'email': 'carol.cooper@example.com', 'login': {'uuid': '329ba021-8a4a-470b-9665-04e08d1b3f5e', 'username': 'goldenbear352', 'password': 'hill', 'salt': 'OrOBaSvz', 'md5': '68ba28a3ec56d43d65474ad10775e7cb', 'sha1': '50dc5130793bfd9ae34c3c985d5df3e2ddac4cd4', 'sha256': '386e5a47f7f219ad7e627e09cd7e331f97f0dfc49849696cb8ce57657956bc69'}, 'dob': {'date': '1997-10-26T03:54:10.674Z', 'age': 25}, 'registered': {'date': '2002-08-22T11:33:19.536Z', 'age': 20}, 'phone': '0111586 732 8854', 'cell': '07240 456170', 'id': {'name': 'NINO', 'value': 'CK 91 89 82 U'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/54.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/54.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/54.jpg'}, 'nat': 'GB'}], 'info': {'seed': '2f80fc5e68d294dc', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'Elias', 'last': 'Jørgensen'}, 'location': {'street': {'number': 3973, 'name': 'Dronningensgade'}, 'city': 'Århus C.', 'state': 'Hovedstaden', 'country': 'Denmark', 'postcode': 92562, 'coordinates': {'latitude': '-38.7555', 'longitude': '-30.2655'}, 'timezone': {'offset': '+9:00', 'description': 'Tokyo, Seoul, Osaka, Sapporo, Yakutsk'}}, 'email': 'elias.jorgensen@example.com', 'login': {'uuid': '45e62f4e-d297-4dc6-b08f-ca5e67a4bb90', 'username': 'orangezebra778', 'password': '12345a', 'salt': '1kLB2Wzo', 'md5': '72fb11881b0c5833bc6a49cc44c1fcfe', 'sha1': '2e7ee0213148d42b1e8bd1011ffdf15222553940', 'sha256': '23e4db3ba50b9576f05ed5cc22c48437056ebea38f24d7b716db8faabecae3ea'}, 'dob': {'date': '1980-11-12T00:11:10.660Z', 'age': 42}, 'registered': {'date': '2008-10-29T20:47:24.830Z', 'age': 14}, 'phone': '34626750', 'cell': '50531900', 'id': {'name': 'CPR', 'value': '111180-6119'}, 'picture': {'large': 'https://randomuser.me/api/portraits/men/87.jpg', 'medium': 'https://randomuser.me/api/portraits/med/men/87.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/87.jpg'}, 'nat': 'DK'}], 'info': {'seed': 'a6dd4e4190ffce56', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'Gorun', 'last': 'Gamaliya'}, 'location': {'street': {'number': 1440, 'name': 'Riepina'}, 'city': 'Zorinsk', 'state': 'Rivnenska', 'country': 'Ukraine', 'postcode': 72980, 'coordinates': {'latitude': '73.3524', 'longitude': '-140.0155'}, 'timezone': {'offset': '-1:00', 'description': 'Azores, Cape Verde Islands'}}, 'email': 'gorun.gamaliya@example.com', 'login': {'uuid': '3262c5ab-1dd7-4647-aa02-30cce3b6b509', 'username': 'angrycat300', 'password': 'passat', 'salt': 'f2YCypEk', 'md5': 'd468ffc56f3a7894a0708f6ee94c442e', 'sha1': '6cc58fed553d2a2d7e6f033301e2f78114e72be9', 'sha256': '85814b23c92dacf2524842f522ebd5655df247ac6a08a1726553354c7b10b926'}, 'dob': {'date': '1947-12-29T01:45:21.621Z', 'age': 75}, 'registered': {'date': '2017-06-05T18:21:54.648Z', 'age': 5}, 'phone': '(099) F73-7305', 'cell': '(067) M93-4281', 'id': {'name': '', 'value': None}, 'picture': {'large': 'https://randomuser.me/api/portraits/men/80.jpg', 'medium': 'https://randomuser.me/api/portraits/med/men/80.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/80.jpg'}, 'nat': 'UA'}], 'info': {'seed': 'ae605df0d99c4fa1', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Ms', 'first': 'Lucy', 'last': 'Roger'}, 'location': {'street': {'number': 2047, 'name': 'Rue Louis-Blanqui'}, 'city': 'Nancy', 'state': 'Yvelines', 'country': 'France', 'postcode': 97226, 'coordinates': {'latitude': '-13.7748', 'longitude': '132.6124'}, 'timezone': {'offset': '-4:00', 'description': 'Atlantic Time (Canada), Caracas, La Paz'}}, 'email': 'lucy.roger@example.com', 'login': {'uuid': 'aeb43e9f-f0e4-48a3-a00c-d120d0cc7beb', 'username': 'smallsnake189', 'password': '191919', 'salt': 'a6sGMp5d', 'md5': '9463a8a47d6d81355f30a79f7119335a', 'sha1': 'f4155404f2c9a7518fe5445c4fd244072abf598a', 'sha256': 'c3e6e23376f39fa937ffcf3f29deda0ce09775a08f6a38fbba672c30126b4f48'}, 'dob': {'date': '1955-03-18T15:51:33.253Z', 'age': 67}, 'registered': {'date': '2003-03-07T12:19:19.649Z', 'age': 19}, 'phone': '01-77-47-86-03', 'cell': '06-26-78-87-40', 'id': {'name': 'INSEE', 'value': '2550265883905 97'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/80.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/80.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/80.jpg'}, 'nat': 'FR'}], 'info': {'seed': '61af0daecb10f3e5', 'results': 1, 'page': 1, 'version': '1.4'}}, {'results': [{'gender': 'female', 'name': {'title': 'Ms', 'first': 'Hana', 'last': 'Ferkingstad'}, 'location': {'street': {'number': 5891, 'name': 'Fiskekroken'}, 'city': 'Haga', 'state': 'Vestfold', 'country': 'Norway', 'postcode': '3507', 'coordinates': {'latitude': '42.4598', 'longitude': '148.3413'}, 'timezone': {'offset': '+9:30', 'description': 'Adelaide, Darwin'}}, 'email': 'hana.ferkingstad@example.com', 'login': {'uuid': '53de933f-7fc1-4502-a4e5-49bd5c71e8d5', 'username': 'goldenfish640', 'password': 'there', 'salt': '7UevakQs', 'md5': 'a27ff97b56085e0ffb2dbf45332e4349', 'sha1': '58ff3ce739c03e327f61f5b4bb9c6ae4f767128b', 'sha256': '7d18c7688722fec8b2675ebc169f5831a81d4e9307bc0d4ba67b4135f699a3dd'}, 'dob': {'date': '1985-11-14T07:03:44.803Z', 'age': 37}, 'registered': {'date': '2019-09-01T23:33:58.861Z', 'age': 3}, 'phone': '74185832', 'cell': '97021204', 'id': {'name': 'FN', 'value': '14118504411'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/32.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/32.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thum

In [ ]:
df = pd.json_normalize(list_1, record_path =['results'])
df

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,female,aada.linna@example.com,09-544-979,043-799-59-38,FI,Miss,Aada,Linna,1607,Bulevardi,...,37bc79431637366655b3714f8ceacec3d583e37bff1e61...,1975-09-06T07:47:44.573Z,47,2019-02-16T14:31:26.294Z,3,HETU,NaNNA298undefined,https://randomuser.me/api/portraits/women/24.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
1,female,molly.otoole@example.com,021-627-9248,081-352-8574,IE,Miss,Molly,Otoole,5967,O'Connell Avenue,...,bc2dc376de87cc77871135448b2793a9e1a9dc97fe6db4...,1954-09-15T02:40:44.644Z,68,2019-11-14T13:52:42.034Z,3,PPS,5471899T,https://randomuser.me/api/portraits/women/10.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
2,male,levko.kibkalo@example.com,(097) L98-9163,(097) D15-0319,UA,Mr,Levko,Kibkalo,9016,Yablochkova,...,e5774a9a24c359732a0f31c52715ff7525c0b71a380557...,1967-10-18T07:40:28.077Z,55,2018-03-28T20:34:19.118Z,4,,None,https://randomuser.me/api/portraits/men/25.jpg,https://randomuser.me/api/portraits/med/men/25...,https://randomuser.me/api/portraits/thumb/men/...
3,female,maria.fleming@example.com,071-859-6363,081-139-3102,IE,Miss,Maria,Fleming,8055,Cork Street,...,3704b70817c94c7c24de4000882c3673b5578dbd953f30...,1975-04-09T03:19:25.119Z,47,2002-07-05T10:42:34.955Z,20,PPS,4305716T,https://randomuser.me/api/portraits/women/96.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
4,male,lubomir.tomovic@example.com,010-8926-722,064-2349-007,RS,Mr,Lubomir,Tomović,7917,Žel Stanica Makiš Ranžirna,...,b3e1b95d51f699abd008293cb69312100d364ac90d70e1...,1986-09-12T03:10:05.611Z,36,2021-08-20T13:06:53.440Z,1,SID,939663915,https://randomuser.me/api/portraits/men/5.jpg,https://randomuser.me/api/portraits/med/men/5.jpg,https://randomuser.me/api/portraits/thumb/men/...
5,male,fritz.giraud@example.com,077 164 09 64,078 056 57 51,CH,Monsieur,Fritz,Giraud,499,Rue de L'Abbaye,...,cf1f4ca861baf2257ebeb04dc6f21c062a1657467eb736...,1988-10-30T05:49:05.302Z,34,2019-11-08T03:16:18.684Z,3,AVS,756.5733.4795.62,https://randomuser.me/api/portraits/men/7.jpg,https://randomuser.me/api/portraits/med/men/7.jpg,https://randomuser.me/api/portraits/thumb/men/...
6,female,josefina.lopes@example.com,(63) 3152-3770,(08) 7038-2026,BR,Mrs,Josefina,Lopes,9274,Avenida Brasil,...,ae433dbec06cdb29701c4d3c5745567e42c6f3a8d414ae...,1950-06-12T08:07:45.404Z,72,2020-05-09T08:10:39.964Z,2,CPF,828.900.858-38,https://randomuser.me/api/portraits/women/77.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
7,female,carla.fleischhauer@example.com,0707-7592722,0172-6868236,DE,Mrs,Carla,Fleischhauer,3817,Drosselweg,...,327b9fba340da1b934263bb60982d1423876019499e393...,1985-11-10T09:01:35.298Z,37,2014-11-01T03:55:58.365Z,8,SVNR,66 101185 F 538,https://randomuser.me/api/portraits/women/45.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
8,male,abrao.mendes@example.com,(76) 8763-5342,(23) 6915-5285,BR,Mr,Abrão,Mendes,2060,Rua Vinte E Um,...,87d2e65e19ee1f0dfef056e5bb3a18593f7462f5e68b04...,1980-06-02T21:15:05.233Z,42,2012-12-24T13:18:54.919Z,10,CPF,137.916.216-41,https://randomuser.me/api/portraits/men/68.jpg,https://randomuser.me/api/portraits/med/men/68...,https://randomuser.me/api/portraits/thumb/men/...
9,female,svetlana.srejovic@example.com,035-0383-394,066-6820-659,RS,Mrs,Svetlana,Srejović,6362,Nikolićev Prilaz,...,2414fb6cf4fb46f69ed840ec927113066d42495f65f5f3...,1966-06-06T06:01:31.387Z,56,2016-11-22T18:40:58.603Z,6,SID,894571835,https://randomuser.me/api/portraits/women/22.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
10,male,okan.kaplangi@example.com,(258)-575-4310,(699)-133-0707,TR,Mr,Okan,Kaplangı,4249,Atatürk Sk,...,5b08520acc7dc6488ede06a33292d00afd0b7483dede70...,1952-11-20T03:33:27.784Z,70,2021-07-03T12:22:19.145Z,1,,None,https://randomuser.me/api/portraits/men/88.jpg,https://randomuser.me/api/portraits/med/men/88...,https://randomuser.me/api/portraits/thumb/men/...
11,female,carol.cooper@example.com,0111586 732 8854,07240 456170,GB,Mrs,Carol,Cooper,6836,Albert Road,...,386e5a47f7f219ad7e627e09cd7e331f97f0dfc4984969...,1997-10-26T03:54:10.674Z,25,2002-08-22T11:33:19.536Z,20,NINO,CK 91 89 82 U,https://randomuser.me/api/portraits/women/54.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
12,male,elias.jorgensen@example.com,34626750,50531900,DK,Mr,Elias,Jørgensen,3973,Dronningensgade,...,23e4db3ba50b9576f05ed5cc22c48437056ebea38f24d7...,1980-11-12T00:11:10.660Z,42,2008-10-29T20:47:24.830Z,14,CPR,111180-6119,https://randomuser.me/api/portraits/men/87.jpg,https://randomuser.me/api/portraits/med/men/87...,https://randomuser.me/api/portraits/thumb/men/...
13,male,gorun.gamaliya@example.com,(099) F73-7305,(067) M93-4281,UA,Mr,Gorun,Gamaliya,1440,Riepina,...,85814b23c92dacf2524842f522ebd5655df247ac6a08a1...,1947-12-29T01:45:21.621Z,75,2017-06-05T18:21:54.648Z,5,,None,https://randomuser.me/api/portraits/men/80.jpg,https://randomuser.me/api/portraits/med/men/80...,https://randomuser.me/api/portraits/thumb/men/...
14,female,lucy.roger@example.com,01-77-47-86-03,06-26-78-87-40,FR,Ms,Lucy,Roger,2047,Rue Louis-Blanqui,...,c3e6e23376f39fa937ffcf3f29deda0ce09775a08f6a38...,1955-03-18T15:51:33.253Z,67,2003-03-07T12:19:19.649Z,19,INSEE,2550265883905 97,https://randomuser.me/api/portraits/women/80.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
15,female,hana.ferkingstad@example.com,74185832,97021204,NO,Ms,Hana,Ferkingstad,5891,Fiskekroken,...,7d18c7688722fec8b2675ebc169f5831a81d4e9307bc0d...,1985-11-14T07:03:44.803Z,37,2019-09-01T23:33:58.861Z,3,FN,14118504411,https://randomuser.me/api/portraits/women/32.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
16,female,mallika.shet@example.com,7384321182,8217196703,IN,Miss,Mallika,Shet,4132,Sitabuldi Main Rd,...,20221a3dd7e3e088e47230d7040e2edcdafd5824b07a6b...,1981-07-29T05:45:07.682Z,41,2005-01-11T16:17:30.791Z,17,UIDAI,713285141190,https://randomuser.me/api/portraits/women/72.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
17,male,pablo.vergara@example.com,(649) 483 0397,(687) 403 2654,MX,Mr,Pablo,Vergara,8551,Periférico Sur Laboy,...,70e746ee2470b0aa3460a9384dd79143041360eac2dc6b...,1980-10-09T05:28:45.904Z,42,2014-02-04T20:32:55.327Z,8,NSS,93 00 61 3918 3,https://randomuser.me/api/portraits/men/95.jpg,https://randomuser.me/api/portraits/med/men/95...,https://randomuser.me/api/portraits/thumb/men/...
18,male,warsame.bloemert@example.com,(016) 0006449,(06) 93707936,NL,Mr,Warsame,Bloemert,4605,Dokter Peelenstraat,...,66e8f805b6ac5c724779f7213c4d1076d5d526a0d12aa7...,1962-12-07T21:41:55.880Z,60,2017-03-18T21:03:22.475Z,5,BSN,90410579,https://randomuser.me/api/portraits/men/75.jpg,https://randomuser.me/api/portraits/med/men/75...,https://randomuser.me/api/portraits/thumb/men/...
19,female,pinja.sippola@example.com,05-855-462,043-224-87-72,FI,Miss,Pinja,Sippola,2874,Mechelininkatu,...,f6e06d9ba6f93ea62d0f1ec0ce57ede119966af7d5da21...,1958-09-28T14:33:45.304Z,64,2002-06-23T12:32:42.693Z,20,HETU,NaNNA682undefined,https://randomuser.me/api/portraits/women/1.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...

In [ ]:
df = df[['name.first', 'name.last', 'gender']]
df = df.rename(columns={'name.first': 'first_name', 'name.last': 'last_name', 'gender': 'gender(actual)'})
df

   first_name     last_name gender(actual)
0        Aada         Linna         female
1       Molly        Otoole         female
2       Levko       Kibkalo           male
3       Maria       Fleming         female
4     Lubomir       Tomović           male
5       Fritz        Giraud           male
6    Josefina         Lopes         female
7       Carla  Fleischhauer         female
8       Abrão        Mendes           male
9    Svetlana      Srejović         female
10       Okan      Kaplangı           male
11      Carol        Cooper         female
12      Elias     Jørgensen           male
13      Gorun      Gamaliya           male
14       Lucy         Roger         female
15       Hana   Ferkingstad         female
16    Mallika          Shet         female
17      Pablo       Vergara           male
18    Warsame      Bloemert           male
19      Pinja       Sippola         female

In [ ]:
list_fname = []
for i in range(len(df)):
  list_fname += [df.iloc[i, 0]]
print(list_fname)

['Aada', 'Molly', 'Levko', 'Maria', 'Lubomir', 'Fritz', 'Josefina', 'Carla', 'Abrão', 'Svetlana', 'Okan', 'Carol', 'Elias', 'Gorun', 'Lucy', 'Hana', 'Mallika', 'Pablo', 'Warsame', 'Pinja']

In [ ]:
list_2 = []
api_2 = 'https://api.genderize.io/?'
for fname in list_fname:
  add_fname = api_2 + 'name=' + fname
  res_2 = requests.get(add_fname)
  data_2 = res_2.json()
  list_2 += [data_2]
print(list_2)

[{'count': 86, 'gender': 'female', 'name': 'Aada', 'probability': 0.6}, {'count': 86011, 'gender': 'female', 'name': 'Molly', 'probability': 1.0}, {'count': 16, 'gender': 'male', 'name': 'Levko', 'probability': 0.94}, {'count': 2687884, 'gender': 'female', 'name': 'Maria', 'probability': 1.0}, {'count': 1749, 'gender': 'male', 'name': 'Lubomir', 'probability': 0.99}, {'count': 20903, 'gender': 'male', 'name': 'Fritz', 'probability': 0.99}, {'count': 32492, 'gender': 'female', 'name': 'Josefina', 'probability': 1.0}, {'count': 353577, 'gender': 'female', 'name': 'Carla', 'probability': 1.0}, {'count': 3, 'gender': 'male', 'name': 'Abrão', 'probability': 1.0}, {'count': 77960, 'gender': 'female', 'name': 'Svetlana', 'probability': 1.0}, {'count': 44895, 'gender': 'male', 'name': 'Okan', 'probability': 0.98}, {'count': 393650, 'gender': 'female', 'name': 'Carol', 'probability': 1.0}, {'count': 94336, 'gender': 'male', 'name': 'Elias', 'probability': 1.0}, {'count': 31, 'gender': 'male', 'name': 'Gorun', 'probability': 0.77}, {'count': 179546, 'gender': 'female', 'name': 'Lucy', 'probability': 1.0}, {'count': 78224, 'gender': 'female', 'name': 'Hana', 'probability': 0.99}, {'count': 4842, 'gender': 'female', 'name': 'Mallika', 'probability': 1.0}, {'count': 362232, 'gender': 'male', 'name': 'Pablo', 'probability': 1.0}, {'count': 345, 'gender': 'male', 'name': 'Warsame', 'probability': 1.0}, {'count': 389, 'gender': 'female', 'name': 'Pinja', 'probability': 0.94}]

In [ ]:
df_2 = pd.json_normalize(list_2)
df_2

      count  gender      name  probability
0        86  female      Aada         0.60
1     86011  female     Molly         1.00
2        16    male     Levko         0.94
3   2687884  female     Maria         1.00
4      1749    male   Lubomir         0.99
5     20903    male     Fritz         0.99
6     32492  female  Josefina         1.00
7    353577  female     Carla         1.00
8         3    male     Abrão         1.00
9     77960  female  Svetlana         1.00
10    44895    male      Okan         0.98
11   393650  female     Carol         1.00
12    94336    male     Elias         1.00
13       31    male     Gorun         0.77
14   179546  female      Lucy         1.00
15    78224  female      Hana         0.99
16     4842  female   Mallika         1.00
17   362232    male     Pablo         1.00
18      345    male   Warsame         1.00
19      389  female     Pinja         0.94

In [ ]:
df_2 = df_2[['gender', 'probability']]
df_2 = df_2.rename(columns={'gender': 'gender(predict)'})
df_2

   gender(predict)  probability
0           female         0.60
1           female         1.00
2             male         0.94
3           female         1.00
4             male         0.99
5             male         0.99
6           female         1.00
7           female         1.00
8             male         1.00
9           female         1.00
10            male         0.98
11          female         1.00
12            male         1.00
13            male         0.77
14          female         1.00
15          female         0.99
16          female         1.00
17            male         1.00
18            male         1.00
19          female         0.94

In [ ]:
df_3 = pd.concat([df, df_2], axis=1)
df_3

   first_name     last_name gender(actual) gender(predict)  probability
0        Aada         Linna         female          female         0.60
1       Molly        Otoole         female          female         1.00
2       Levko       Kibkalo           male            male         0.94
3       Maria       Fleming         female          female         1.00
4     Lubomir       Tomović           male            male         0.99
5       Fritz        Giraud           male            male         0.99
6    Josefina         Lopes         female          female         1.00
7       Carla  Fleischhauer         female          female         1.00
8       Abrão        Mendes           male            male         1.00
9    Svetlana      Srejović         female          female         1.00
10       Okan      Kaplangı           male            male         0.98
11      Carol        Cooper         female          female         1.00
12      Elias     Jørgensen           male            male         1.00
13      Gorun      Gamaliya           male            male         0.77
14       Lucy         Roger         female          female         1.00
15       Hana   Ferkingstad         female          female         0.99
16    Mallika          Shet         female          female         1.00
17      Pablo       Vergara           male            male         1.00
18    Warsame      Bloemert           male            male         1.00
19      Pinja       Sippola         female          female         0.94

In [ ]:
df_3['same_gender'] = 1
df_3

,first_name,last_name,gender(actual),gender(predict),probability,same_gender
0,Aada,Linna,female,female,0.60,1
1,Molly,Otoole,female,female,1.00,1
2,Levko,Kibkalo,male,male,0.94,1
3,Maria,Fleming,female,female,1.00,1
4,Lubomir,Tomović,male,male,0.99,1
5,Fritz,Giraud,male,male,0.99,1
6,Josefina,Lopes,female,female,1.00,1
7,Carla,Fleischhauer,female,female,1.00,1
8,Abrão,Mendes,male,male,1.00,1
9,Svetlana,Srejović,female,female,1.00,1
10,Okan,Kaplangı,male,male,0.98,1
11,Carol,Cooper,female,female,1.00,1
12,Elias,Jørgensen,male,male,1.00,1
13,Gorun,Gamaliya,male,male,0.77,1
14,Lucy,Roger,female,female,1.00,1
15,Hana,Ferkingstad,female,female,0.99,1
16,Mallika,Shet,female,female,1.00,1
17,Pablo,Vergara,male,male,1.00,1
18,Warsame,Bloemert,male,male,1.00,1
19,Pinja,Sippola,female,female,0.94,1

In [ ]:
for i in range(len(df_3)):
  if df_3.iloc[i, 2] == df_3.iloc[i, 3]:
    df_3.iloc[i, 5] = 'true'
  else:
    df_3.iloc[i, 5] = 'false'
df_3

,first_name,last_name,gender(actual),gender(predict),probability,same_gender
0,Aada,Linna,female,female,0.60,true
1,Molly,Otoole,female,female,1.00,true
2,Levko,Kibkalo,male,male,0.94,true
3,Maria,Fleming,female,female,1.00,true
4,Lubomir,Tomović,male,male,0.99,true
5,Fritz,Giraud,male,male,0.99,true
6,Josefina,Lopes,female,female,1.00,true
7,Carla,Fleischhauer,female,female,1.00,true
8,Abrão,Mendes,male,male,1.00,true
9,Svetlana,Srejović,female,female,1.00,true
10,Okan,Kaplangı,male,male,0.98,true
11,Carol,Cooper,female,female,1.00,true
12,Elias,Jørgensen,male,male,1.00,true
13,Gorun,Gamaliya,male,male,0.77,true
14,Lucy,Roger,female,female,1.00,true
15,Hana,Ferkingstad,female,female,0.99,true
16,Mallika,Shet,female,female,1.00,true
17,Pablo,Vergara,male,male,1.00,true
18,Warsame,Bloemert,male,male,1.00,true
19,Pinja,Sippola,female,female,0.94,true